<div class="settings-item">
  <app-toggler [id]="'theme'" (ngModelChange)="setTheme($event)" [(ngModel)]="darkTheme"></app-toggler>
  <div class="label">Set Dark Theme</div>
</div>

<div class="settings-item">
  <app-multiselect-dropdown [(ngModel)]="selectedUsers"
                            [id]="'users'"
                            [label]="'Select Users'"
                            [placeholder]="'All Users'"
                            (selected)="changeSelectedUsers($event, true)"
                            (deSelected)="changeSelectedUsers($event, false)"
                            (deSelectedAll)="changeSelectedUsers(null, false)"
                            (selectedAll)="changeSelectedUsers('all', true)"
                            [data]="usersList"
                            [settings]="userListSettings"
                            [itemsLimit]="userItemsShowLimit"
  ></app-multiselect-dropdown>
</div>

<div class="settings-item">
  <button class="menu-btn"
          mat-raised-button
          appMenu
          [placement]="'bottom-left'"
          [autoClose]="'outside'"
          [menuContent]="menuContent"
          triggers="manual"
          #tableRowMenu="appMenu"
          (click)="tableRowMenu.toggle();$event.stopPropagation();"
  >
    Menu
  </button>

  <ng-template #menuContent>
    <div class="menu-container">
      <div class="menu-item">
        <div class="option">
          Amend transaction
        </div>
      </div>
      <div class="menu-item">
        <div class="option">
          Close transaction
        </div>
      </div>
      <div class="menu-item">
        <div class="option">
          Restart transaction
        </div>
      </div>
    </div>
  </ng-template>
</div>
