<div class="tile">
  <h2 class="header">Authorization</h2>

  <form class="login-form" [formGroup]="loginForm">
    <mat-form-field class="email-input">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" type="text">
      <mat-error *ngIf="loginForm.get('email')?.invalid">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="password-input">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Password" type="password">
      <mat-error *ngIf="loginForm.get('password')?.invalid">This field is required</mat-error>
    </mat-form-field>

    <p *ngIf="wrongUser" class="error-message">Incorrect data, please try again.</p>

    <button class="login-btn" [disabled]="loginForm.invalid" (click)="login()" mat-button mat-raised-button>
      LOG IN
    </button>
  </form>
</div>
