@import "src/assets/styles/variables";

.red {
  color: red;
}

.linear-chart-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.message-container {
  position: fixed;
  top: $header-height;
  right: 0;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 128, 0, 0.5);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 999;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: "\f055";
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f056";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-anchor {
  cursor: pointer;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

