<nav [ngClass]="{'dark': currentTheme === ThemesEnum.Dark}">
  <div class="logo-container" routerLink="/">
    <img class="main-logo" src="assets/images/angular_logo.png" alt="logo" />
    Angular Admin
  </div>

  <div class="nav-items">
    <ng-container *ngFor="let nav of navItems">
      <div class="nav-item"
           *ngIf="checkSettingsVisibility(nav)"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="{{nav.url}}" routerLinkActive="active"
      >
        {{nav.name}}
      </div>
    </ng-container>
  </div>
</nav>
